ul.nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f44336;
  margin: 0;
  padding: 0;
}

li.nav {
  display: inline;
  padding: 20px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: gold;
  font-size: 130%;
}

li a:hover {
  background-color: #111111;
  color: red;
}

div.sticky {
  position: sticky;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

div.half {
  float: left;
  width: 48%;
  margin: 1%;
  height: 360px;
  background-color: #98FB98;
  border: 2px solid green;
}

p.text {
  font-size: 23px;
  margin: 10px;
}
