.nav{
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: #333F42;
  border: 3px solid #B4975A;
  height: 20vh;
  display: grid;
  z-index: 10;
}

.list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center; 
}

.link{
  float: left;
}

.big{
  text-decoration: none;
  font-size: 2vw;
  color: #C8102E;
  padding: 10px;
}

body{
  //background-color: #000000;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 40vw;
  top: 10vw;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.big:hover{
  color: #FFFFFF;
  cursor: pointer;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.wrapper {
  display: grid;
  grid-template-columns: 49% 43%;
  grid-gap: 8%;
  background-color: #505050;
  text-align: center;

}

.box{
  background-color: ;
  color: white;
  border: 5px solid grey;
  padding: 10px;
  width: 100%;
  z-index:1;
  display: inline-block;
  float: left;
}

td, th{
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #282828;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width:1200px){
  [class*="box"] {width: 100%;}
}
